@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.header {
  padding: 3.5rem 0 1.5rem 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-link {
  margin-left: 3rem;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.header__nav-link:hover {
  border-bottom: 1px solid currentColor;
}

.header__logo {
  width: 13%;
}

.cta {
  padding: 2.5rem 0 7.5rem 0;
}

.cta__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cta__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.5;
}

.cta__desc {
  font-size: 1rem;
  padding-right: 3rem;
  margin: .75rem 0 1.25rem 0;
}

.cta__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cta__signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
}

.cta__signup .input--field {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.cta__signup .input--btn {
  margin-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main {
  padding: 2.5rem 0 5rem 0;
  background: #f6f6fe;
}

.main__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.5%;
          flex: 0 0 57.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.5%;
          flex: 0 0 42.5%;
}

.main__title {
  font-size: 2.25rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 1.75rem;
}

.main__desc {
  width: 74%;
  margin-bottom: 1rem;
  font-size: .9rem;
}

.main__link {
  color: #3c9f8f;
  padding-bottom: .25rem;
  border-bottom: 1px solid #3c9f8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__link::after {
  content: "";
  background: url(../images/icon-arrow.svg) no-repeat center center/cover;
  width: 1.15rem;
  height: 1.15rem;
  display: inline-block;
  margin-left: .5rem;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.main__link:hover::after {
  margin-left: .75rem;
}

.main .review {
  margin-top: 2.75rem;
}

.cta-2 {
  background: #585989;
  padding: 3.75rem 0;
}

.cta-2__text {
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.5%;
          flex: 0 0 57.5%;
}

.cta-2__title {
  font-size: 1.9rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1rem;
}

.cta-2__desc {
  width: 74%;
  line-height: 1.5;
}

.cta-2__signup {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42.5%;
          flex: 0 0 42.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cta-2__signup .input--field {
  min-width: 0;
  width: 100%;
  margin-bottom: .75rem;
}

.cta-2__signup .input--btn {
  padding: .75rem 1.5rem;
}

.footer {
  background: #070439;
  padding: 4.25rem 0 3rem 0;
  color: white;
}

.footer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin-bottom: 1.5rem;
  width: 13%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.footer__contacts > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .75rem;
}

.footer__contacts > * img {
  margin-right: 1rem;
}

.footer__nav {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.footer__nav-link {
  margin-bottom: .75rem;
}

.footer__nav-link > a {
  color: white;
}

.footer__nav-link > a:hover {
  border-bottom: 1px solid currentColor;
}

.footer__social {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  border: 1px solid white;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem;
  border-radius: 100rem;
  color: white;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.footer__social-link:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media screen and (max-width: 1050px) {
  .cta__title {
    font-size: 1.9rem;
    line-height: 1.3;
  }
  .cta__text {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
  }
  .cta__signup {
    width: 90%;
  }
  .main__title {
    font-size: 1.9rem;
    line-height: 1.3;
  }
  .main__desc {
    width: 85%;
  }
  .main .review {
    width: 70%;
  }
  .cta-2__title {
    font-size: 1.75rem;
    line-height: 1.3;
  }
}

@media screen and (max-width: 768px) {
  .cta__title {
    font-size: 1.7rem;
    line-height: 1.2;
  }
  .cta__desc {
    padding-right: 2rem;
    margin: .5rem 0 1rem 0;
  }
  .cta__signup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta__signup .input--field {
    width: 100%;
    margin-bottom: 1rem;
  }
  .cta__signup .input--btn {
    margin-left: 0;
    width: 50%;
  }
  .main__title {
    font-size: 1.7rem;
    line-height: 1.2;
    margin-bottom: .75rem;
  }
  .main__desc {
    width: 90%;
    margin-bottom: .5rem;
  }
  .main .review {
    width: 90%;
    margin-top: 1.75rem;
  }
  .cta-2__title {
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: .75rem;
  }
  .cta-2__desc {
    width: 90%;
  }
  .footer__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  .footer__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media screen and (max-width: 650px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header {
    padding: 1.5rem 0 3.75rem 0;
  }
  .header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo {
    width: 25%;
  }
  .header__nav-link {
    margin-left: 1.5rem;
    font-size: .8rem;
  }
  .header__nav-link:hover {
    border-bottom: 1px solid currentColor;
  }
  .cta {
    text-align: center;
  }
  .cta .container {
    width: 85%;
  }
  .cta__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 3rem;
  }
  .cta__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .cta__title {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1.25rem;
  }
  .cta__desc {
    line-height: 1.4;
    margin-bottom: 1.85rem;
    padding-right: 0;
  }
  .cta__signup {
    width: 100%;
  }
  .cta__signup .input--btn {
    margin-left: 0;
    width: 100%;
  }
  .main__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: .5rem 0 6.75rem 0;
  }
  .main__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .main__desc {
    width: 100%;
    padding-right: 0;
    line-height: 1.65;
    color: #585989;
    margin-bottom: .75rem;
  }
  .main__link {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-bottom: .4rem;
    font-size: .8rem;
    margin: 1.25rem 0 2.5rem 0;
  }
  .main .review {
    margin: 0 auto;
    padding: 1.5rem 1.85rem;
    width: 92%;
  }
  .main .review__text {
    font-size: .7rem;
    margin-bottom: .75rem;
  }
  .main .review__quotes {
    margin-bottom: .5rem;
  }
  .main .review .reviewer__photo {
    width: 1.5rem;
    height: 1.5rem;
  }
  .main .review .reviewer__name {
    font-size: .7rem;
  }
  .main .review .reviewer__position {
    font-size: .5rem;
  }
  .cta-2 {
    padding: 3.5rem 0 4rem 0;
  }
  .cta-2 .container {
    width: 72.5%;
  }
  .cta-2__title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .cta-2__desc {
    width: 100%;
    font-size: .8rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .cta-2__signup {
    width: 100%;
  }
  .cta-2__signup .input--field {
    margin-bottom: .5rem;
    font-size: .75rem;
    padding: .65rem;
  }
  .cta-2__signup .input--btn {
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    width: 100%;
    padding: .5rem;
  }
  .footer {
    padding: 3.5rem 0 3rem 0;
  }
  .footer .container {
    width: 85%;
  }
  .footer__logo {
    width: 45%;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: .85rem;
  }
  .footer__contacts {
    margin-bottom: 1.5rem;
  }
  .footer__contacts img {
    margin-right: .75rem;
  }
  .footer__nav {
    -webkit-column-count: 1;
            column-count: 1;
    margin-bottom: 1.5rem;
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accessibility-requirement {
  display: none;
}

.image {
  width: 100%;
  height: 100%;
  min-width: 0;
}

.input {
  outline: 0;
  padding: .75rem 1rem;
  border-radius: .25rem;
}

.input::-webkit-input-placeholder {
  color: #3c9f8f;
}

.input:-ms-input-placeholder {
  color: #3c9f8f;
}

.input::-ms-input-placeholder {
  color: #3c9f8f;
}

.input::placeholder {
  color: #3c9f8f;
}

.input--field {
  border: 1px solid #585989;
}

.input--btn {
  border: 1px solid #3065f8;
  background: #3065f8;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 700;
  cursor: pointer;
  -webkit-box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.15);
  font-size: 1rem;
}

.input--btn:hover {
  background: #4978f8;
}

.curve {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 10rem;
}

.review {
  padding: 1.75rem 2.25rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Open Sans;
  width: 52.5%;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 1rem rgba(60, 159, 143, 0.15);
          box-shadow: 0 0 1rem rgba(60, 159, 143, 0.15);
}

.review__quotes {
  display: block;
  width: 1.15rem;
  height: 100%;
  margin-bottom: .75rem;
}

.review__text {
  font-size: .85rem;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.review .reviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review .reviewer__photo {
  width: 2.5rem;
  border-radius: 100rem;
  margin-right: .5rem;
}

.review .reviewer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review .reviewer__name {
  font-weight: 700;
  font-size: .9rem;
}

.review .reviewer__position {
  font-size: .75rem;
}
/*# sourceMappingURL=main.css.map */