$primary-dark-blue: hsl(243, 87%, 12%);
$primary-desaturated-blue: hsl(238, 22%, 44%);
$secondary-bright-blue: hsl(224, 93%, 58%);
$secondary-moderate-cyan: hsl(170, 45%, 43%);
$neutral-blue: hsl(241, 80%, 98%);
$neutral-gray: hsl(0, 0%, 75%);