.header {
  padding: 3.5rem 0 1.5rem 0;

  &__nav {
    display: flex;

    &-link {
      margin-left: 3rem;
      color: black;
      font-family: 'Raleway', sans-serif;
      
      &:hover {
        border-bottom: 1px solid currentColor;
      }
    }
  }

  &__logo {
    width: 13%;
  }
}

.cta {
  padding: 2.5rem 0 7.5rem 0;

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.5;
  }

  &__desc {
    font-size: 1rem;
    padding-right: 3rem;
    margin: .75rem 0 1.25rem 0;
  }

  &__image {
    flex: 1;
  }

  &__signup {
    display: flex;
    width: 85%;

    .input {
      &--field {
        flex: 0 0 60%
      }

      &--btn {
        margin-left: 1rem;
        flex: 1;
      }
    }
  }
}

.main {
  padding: 2.5rem 0 5rem 0;
  background: $neutral-blue;

  &__text {
    flex: 0 0 57.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__image {
    flex: 0 0 42.5%;
  }

  &__title {
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 1.75rem;
  }

  &__desc {
    width: 74%;
    margin-bottom: 1rem;
    font-size: .9rem;
  }

  &__link {
    color: $secondary-moderate-cyan;
    padding-bottom: .25rem;
    border-bottom: 1px solid $secondary-moderate-cyan;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      background: url(../images/icon-arrow.svg) no-repeat center center/cover;
      width: 1.15rem;
      height: 1.15rem;
      display: inline-block;
      margin-left: .5rem;
      transition: .1s ease-in;
    }

    &:hover::after {
      margin-left: .75rem;
    }
  }

  .review {
    margin-top: 2.75rem;
  }
}

.cta-2 {
  background: $primary-desaturated-blue;
  padding: 3.75rem 0;

  &__text {
    color: white;
    flex: 0 0 57.5%
  }

  &__title {
    font-size: 1.9rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
  }

  &__desc {
    width: 74%;
    line-height: 1.5;
  }

  &__signup {
    flex: 0 0 42.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .input {
      &--field {
        min-width: 0;
        width: 100%;
        margin-bottom: .75rem;
      }

      &--btn {
        padding: .75rem 1.5rem;
      }
    }
  }
}

.footer {
  background: $primary-dark-blue;
  padding: 4.25rem 0 3rem 0;
  color: white;

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  &__logo {
    filter: brightness(0) invert(1);
    margin-bottom: 1.5rem;
    width: 13%;
  }

  &__content {
    display: flex;
    width: 100%;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;

    & > * {
      display: flex;
      align-items: center;
      margin-bottom: .75rem;

      img {
        margin-right: 1rem;
      }
    }
  }

  &__nav {
    column-count: 2;
    flex: 0 0 42%;

    &-link {
      margin-bottom: .75rem;

      & > a {
        color: white;
        
        &:hover {
          border-bottom: 1px solid currentColor;
        }
      }
    }
  }

  &__social {
    flex: 1;
    display: flex;

    &-link {
      border: 1px solid white;
      display: inline-block;
      width : 2rem;
      height: 2rem;
      margin-right: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .5rem;
      border-radius: 100rem;
      color: white;
      transition: .1s ease-in-out;
      
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .cta {
    &__title {
      font-size: 1.9rem;
      line-height: 1.3;
    }

    &__text {
      flex: 1.2;
    }

    &__signup {
      width: 90%;
    }
  }

  .main {
    &__title {
      font-size: 1.9rem;
      line-height: 1.3;
    }

    &__desc {
      width: 85%;
    }

    .review {
      width: 70%;
    }
  }

  .cta-2 {
    &__title {
      font-size: 1.75rem;
      line-height: 1.3;
    }
  }
}

@media screen and (max-width: 768px) {
  .cta {
    &__title {
      font-size: 1.7rem;
      line-height: 1.2;
    }

    &__desc {
      padding-right: 2rem;
      margin: .5rem 0 1rem 0;
    }

    &__signup {
      flex-direction: column;
  
      .input {
        &--field {
          width: 100%;
          margin-bottom: 1rem;
        }
  
        &--btn {
          margin-left: 0;
          width: 50%;
        }
      }
    }
  }

  .main {
    &__title {
      font-size: 1.7rem;
      line-height: 1.2;
      margin-bottom: .75rem;
    }

    &__desc {
      width: 90%;
      margin-bottom: .5rem;
    }

    .review {
      width: 90%;
      margin-top: 1.75rem;
    }
  }

  .cta-2 {
    &__title {
      font-size: 1.6rem;
      line-height: 1.2;
      margin-bottom: .75rem;
    }

    &__desc {
      width: 90%;
    }
  }

  .footer {
    &__contacts {
      flex: 0 0 40%;
    }

    &__nav {
      flex: 0 0 45%;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    padding: 1.5rem 0 3.75rem 0;

    .container {
      flex-direction: row;
    }

    &__logo {
      width: 25%;
    }

    &__nav {
      &-link {
        margin-left: 1.5rem;
        font-size: .8rem;
        
        &:hover {
          border-bottom: 1px solid currentColor;
        }
      }
    }
  }

  .cta {
    text-align: center;

    .container {
      width: 85%;
    }

    &__image {
      order: 1;
      margin-bottom: 3rem;
    }

    &__text {
      order: 2;
    }

    &__title {
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 1.25rem;
    }

    &__desc {
      line-height: 1.4;
      margin-bottom: 1.85rem;
      padding-right: 0;
    }

    &__signup {
      width: 100%;

      .input {
        &--btn {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }

  .main {
    &__image {
      order: 1;
      margin: .5rem 0 6.75rem 0;
    }

    &__text {
      order: 2;

    }

    &__title {
      align-self: center;
      font-size: 1.1rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    &__desc {
      width: 100%;
      padding-right: 0;
      line-height: 1.65;
      color: $primary-desaturated-blue;
      margin-bottom: .75rem;
    }

    &__link {
      text-align: center;
      align-self: center;
      padding-bottom: .4rem;
      font-size: .8rem;
      margin: 1.25rem 0 2.5rem 0;
    }

    .review {
      margin: 0 auto;
      padding: 1.5rem 1.85rem;
      width: 92%;

      &__text {
        font-size: .7rem;
        margin-bottom: .75rem;
      }

      &__quotes {
        margin-bottom: .5rem;
      }

      .reviewer {
        &__photo {
          width: 1.5rem;
          height: 1.5rem;
        }

        &__name {
          font-size: .7rem;
        }

        &__position {
          font-size: .5rem;;
        }
      }
    }
  }

  .cta-2 {
    padding: 3.5rem 0 4rem 0;

    .container {
      width: 72.5%;
    }

    &__title {
      font-size: 1.1rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    &__desc {
      width: 100%;
      font-size: .8rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    &__signup {
      width: 100%;
  
      .input {
        &--field {
          margin-bottom: .5rem;
          font-size: .75rem;
          padding: .65rem;
        }
  
        &--btn {
          font-family: 'Open Sans', sans-serif;
          font-size: .75rem;
          width: 100%;
          padding: .5rem;
        }
      }
    }
  }

  .footer {
    padding: 3.5rem 0 3rem 0;

    .container {
      width: 85%;
    }

    &__logo {
      width: 45%;
    }

    &__content {
      flex-direction: column;
      font-size: .85rem;
    }

    &__contacts {
      margin-bottom: 1.5rem;

      img {
        margin-right: .75rem;
      }
    }

    &__nav {
      column-count: 1;
      margin-bottom: 1.5rem;
    }

    &__social {
      justify-content: center;
    }
  }
}